<html>
    <head>
        
        <title>Food Recipe</title>
         <link rel="stylesheet" href= "../static/food_style.css" type= "text/css"  />
         <!meta http-equiv="refresh" content="5" >
        
    </head>
    <body>
    <div class="contents">
        <h1>
        <p class="name">  Name of Recipe: {{ recipe_name }}  <br>
        </p>
        </h1>
        <h2>
            <a href= "recipe_url"> {{ recipe_url}} </a> 
        </h2>
        <table border="1">
        <tr>
            <td class="left">
                <img src={{ recipe_image }} width="auto" height="auto"> 
            </td>                 
            <td>
                 <p class="info">
                            Cooking time = {{ recipe_time }}, Servings = {{ recipe_source }} <br>
                </p>
                
                    <p class= "ingredients">
                    ingredients = <br>
                    </p>
                <ol class= "list">    
                    {% for i in ingredients %}
                    
                        * {{ i }} <br>
                    
                    {% endfor %}
                    
                </ol>
            </td>
        </tr>
        </table>
    </div>
    <div class="tweetinformation">
            
            <p class="tweetsName"> Food Name: {{ Food_name }} </p>
            <p class="tweetsUser"> Twitter of {{ name }}, @{{ screen_name }}</p>
            <p class="tweetsDes"> {{  description  }} </p>
            <p> Date: {{ date }}<br>
                Link: {{ link }}
            </p>
    </div>
    
    </body>
</html>